
@model  MySiteWebMVC.Models.HomeViewModel

@section ViewCSS{
	<link rel="stylesheet" href="~/css/index.css" />

	<title>Principal</title>
}


   <h2 class="text" >Mi nombre es Brian de Jesus Arana Zamora, soy estudiante de la
            Universidad Politecnico de Quintana Roo, me encuentro en el 4°
            Cuatrimestre dek grupo 24CV y de la carrera Ingenieria en Software.
			</h2>
	<img src="https://i.pinimg.com/564x/93/47/84/934784c4527b67cc679908535f4e8157.jpg" alt="">






@*	string HelloWorld = "Hola Mundo";
	string Welcome = "Bienvenido";*@

	@*<div>@Model.Welcome</div>*@

	@*<br />*@
	@*<div>El nombre del yeti es @ViewBag.dog</div>*@
	@*<div>El nombre del yeti es @Model.MyDog</div>*@

@*<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@HelloWorld</title>
</head>
<body>
	<div>@Welcome</div>
	<br />
	<div>El nombre del yeti es @ViewBag.dog</div>

</body>
</html>*@